:root {
    --main-bg-color: #fff;
    --sub-bg-color: #000;
    --sub-text-color: #fff;
    --inactive: rgb(161, 161, 161);
    --accent-color: red;
    --checkbox-color: #6699ff;

    --main-text-color: #000;

    
    --first-brand-color: rgb(235, 235, 235);
    --second-brand-color: #fdeb3f;
    --third-brand-color: #406935;
    --fourth-brand-color:#a0bf0a;


    --main-font: 'Martel';
    --title-font: 'Martel Heavy';
    --main-title-font: 'Gloria Hallelujah';
    
    font-size: 62.5%;
}